<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rozvrh</title>
  <script type="text/javascript" src="js.js"></script>
  <script type="text/javascript" src="timeTable.js"></script>
  <link rel="stylesheet" href="css.css">

</head>

<body>
  <header>

    <button><a href="/">home</a></button>

  <button><a href="/statement">Výkaz</a></button>
  </header>

  <h3>
    <% const currentDate=new Date(); %>
    <% const currentYear=currentDate.getFullYear(); %>
    <% const currentMonth=currentDate.getMonth() + 1; %>
    <% const currentDay=currentDate.getDate(); %>

    <% const firstDayOfNextMonth=new Date(currentDate.getFullYear(), currentDate.getMonth() + 1, 1);
                            %>
    <% firstDayOfNextMonth.setDate(firstDayOfNextMonth.getDate() - 1); %>
    <% const numberOfDaysInMonth=firstDayOfNextMonth.getDate(); %>

    <% const daysOfWeek=['Neděle', 'Pondělí' , 'Úterý' , 'Středa' , 'Čtvrtek' , 'Pátek'
                                        , 'Sobota' ]; %>
    <% const dayOfWeekNumber=currentDate.getDay();%>
    <% const dayOfWeekName=daysOfWeek[dayOfWeekNumber];%>

    

    <%
                                                
                                                    
                                                  
                                                    
                                                    // Získání aktuálního dne v roce (1-366)
                                                    const dayOfYear = getDayOfYear(currentDate);
                                                    
                                                    // Funkce pro získání čísla týdne pro konkrétní datum
                                                    function getWeekNumber(date) {
                                                      const firstDayOfYear = new Date(date.getFullYear(), 0, 1); // První den roku
                                                      const daysSinceFirstDay = dayOfYear - 1; // Počet dní od prvního dne roku
                                                      const weekNumber = Math.ceil((daysSinceFirstDay + firstDayOfYear.getDay() + 1) / 7);
                                                      return weekNumber;
                                                    }
                                                    
                                                    // Získání čísla týdne pro aktuální datum
                                                    const currentWeekNumber = getWeekNumber(currentDate);
                                                    
                                                    // Zjištění, zda je týden sudý nebo lichý
                                                    function oddEven() {
                                                      if (currentWeekNumber % 2 === 0) {
                                                        return `Aktuální týden (${currentWeekNumber}) je sudý.`
                                                        console.log(`Aktuální týden (${currentWeekNumber}) je sudý.`);
                                                      } else {
                                                        return `Aktuální týden (${currentWeekNumber}) je lichý.`
                                                        console.log(`Aktuální týden (${currentWeekNumber}) je lichý.`);
                                                      }

                                                    }
                                                    
                                                    // Funkce pro získání čísla dne v roce pro konkrétní datum
                                                    function getDayOfYear(date) {
                                                      const start = new Date(date.getFullYear(), 0, 0);
                                                      const diff = date - start;
                                                      const oneDay = 1000 * 60 * 60 * 24; // Počet milisekund v jednom dni
                                                      return Math.floor(diff / oneDay);
                                                    }
%>

<%= currentDay + ". " + currentMonth + ". " + currentYear
                                                    + " a tento měsíc má " + numberOfDaysInMonth + " dní" + " dnes je "
                                                    + dayOfWeekName + " " + oddEven()%>
  </h3>



  <!-- problemy:

  jak vyresit aby se menil datum? zatim si proste nastavi prvni datum a zybtek se dopocita
  mam eventhandler i na td kde to nechci, treba ten prvni den
  nejak poresit aby si na zacatku pouze nastavili sudej a lichej a nemuseli to tam zadavat duplicitne
  ten firstday taky musim predelat
  jak poresit historii? -->

  <h1>
    Rozvrh
  </h1>
  <% day="Pondělí" %>
  <% hour=0 %>
  <% normal=0 %>
  <% overtime=0 %>
  <% substit=0 %>
  <% dropped=0 %>
  <% doctor=0 %>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th>0(07:00 - 07:45)</th>
      <th>1(08:00 - 08:45)</th>
      <th>2(08:55 - 09:40)</th>
      <th>3(09:50 - 10:35)</th>
      <th>4(10:55 - 11:40)</th>
      <th>5(11:50 - 12:35)</th>
      <th>6(12:45 - 13:30)</th>
      <th>7(13:40 - 14:25)</th>
      <th>8(14:30 - 15:15)</th>
      <th>9(15:20 - 16:05)</th>
      <th>10(16:10 - 18:00)</th>

    </tr>

    <tr>

      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
      <% results.forEach((item, index)=> {%>

      <% if(item.state === "overtime") {overtime++}
        else if(item.state === "substit") {substit++}
        else if(item.state === "dropped") {dropped++}
        else if(item.state === "doctor") {doctor++}
        else {normal++}
        %>

      <% if(index===11 || index===66 || index===121 || index===176 || index===231) {%>
      <%day="Úterý" %>
    </tr>
    <tr>
      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
      <%} else if(index===22 || index===77 || index===132 || index===187 || index===242) {%>
      <%day="Středa" %>
    </tr>
    <tr>
      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
      <%} else if(index===33 || index===88 || index===143 || index===198 || index===253) {%>
      <%day="Čtvrtek" %>
    </tr>
    <tr>
      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
      <%}else if(index===44 || index===99 || index===154 || index===209 || index===264) {%>
      <%day="Pátek" %>
    </tr>
    <tr>
      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
      <%}else if(index===55 || index==110 || index===165 || index===220 || index===277) {%>
      <%day="Sobota" %>
    </tr>
    <tr>
      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
      <%day="Neděle" %>
    </tr>
    <tr>
      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
    </tr>
    <tr>
      <%day="Pondělí" %>
      <td>
        
        
      </td>
      <td>
        <%=day%>
      </td>
      <%}else if(index > 205) {%>


      <%}%>
<% color = "limegreen" %>

      <% if(item.state === "overtime") {color="HotPink"}
 else if(item.state === "substit") {color="Gold"}
 else if(item.state === "dropped") {color="LightGrey"}
 else if(item.state === "doctor") {color="DeepSkyBlue"}
 else if(item.state === "normal") {color="limegreen"}
 else if(item.state === "empty") {color="transparent"} %>
      <td class="data" style="background-color: <%= color%>" id="<%= item.id %>" day="<%= item.day %>" hour="<%= item.hour %>" overtime="<%= item.overtime %>" substit="<%= item.substit %>" dropped="<%= item.dropped %>" doctor="<%= item.doctor %>"> 
        <%=item.class%>  
      </td>

      <%})%>
    </tr>
  </table>
