<!-- <header> -->

<!-- <button><a href="/">home</a></button>

  



  <!-- problemy:

  jak vyresit aby se menil datum? zatim si proste nastavi prvni datum a zybtek se dopocita
  mam eventhandler i na td kde to nechci, treba ten prvni den
  nejak poresit aby si na zacatku pouze nastavili sudej a lichej a nemuseli to tam zadavat duplicitne
  ten firstday taky musim predelat
  jak poresit historii? -->

<h2 style="text-align: center">
  Rozvrh
</h2>
<% day="Pondělí" %>
<% hour=0 %>
<% normal=0 %>
<% overtime=0 %>
<% substit=0 %>
<% dropped=0 %>
<% doctor=0 %>
<table>
  <tr>
    <th style="visibility: hidden"></th>
    <th style="visibility: hidden"></th>
    <th>0</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>

  </tr>

  <tr>

    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
    <% results.forEach((item, index)=> {%>

    <% if(item.state === "overtime") {overtime++}
        else if(item.state === "substit") {substit++}
        else if(item.state === "dropped") {dropped++}
        else if(item.state === "doctor") {doctor++}
        else {normal++}
        %>

    <% if(index===11 || index===66 || index===121 || index===176 || index===231) {%>
    <%day="Úterý" %>
  </tr>
  <tr>
    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
    <%} else if(index===22 || index===77 || index===132 || index===187 || index===242) {%>
    <%day="Středa" %>
  </tr>
  <tr>
    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
    <%} else if(index===33 || index===88 || index===143 || index===198 || index===253) {%>
    <%day="Čtvrtek" %>
  </tr>
  <tr>
    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
    <%}else if(index===44 || index===99 || index===154 || index===209 || index===264) {%>
    <%day="Pátek" %>
  </tr>
  <tr>
    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
    <%}else if(index===55 || index==110 || index===165 || index===220 || index===277) {%>
    <%day="Sobota" %>
  </tr>
  <tr>
    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
    <%day="Neděle" %>
  </tr>
  <tr>
    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
  </tr>
  <tr>
    <%day="Pondělí" %>
    <td style="visibility: hidden">


    </td>
    <td>
      <%=day%>
    </td>
    <%}else if(index > 205) {%>


    <%}%>
<% color = "limegreen" %>

    <% if(item.state === "overtime") {color="HotPink"}
 else if(item.state === "substit") {color="Gold"}
 else if(item.state === "dropped") {color="LightGrey"}
 else if(item.state === "doctor") {color="DeepSkyBlue"}
 else if(item.state === "normal") {color="limegreen"}
 else if(item.state === "empty") {color="transparent"} %>
    <td class="data" style="background-color: <%= color%>" id="<%= item.id %>" day="<%= item.day %>" hour="<%= item.hour %>" overtime="<%= item.overtime %>" substit="<%= item.substit %>" dropped="<%= item.dropped %>" doctor="<%= item.doctor %>">
      <%=item.class%>
    </td>

    <%})%>
  </tr>
</table>
<!-- <script>
  document.addEventListener("DOMContentLoaded", function () {
  alert(545)

  function changeTimetableData(event) {
    console.log(event.target.style)

    let data = prompt("Zadejte předmět", event.target.textContent.trim())
    if (data) {
      // URL API, kam bude odeslán požadavek
      const apiUrl = '/timetableupdate';

      // Data, která budou odeslána jako součást požadavku (může být objekt nebo FormData)
      const requestData = {
        id: event.target.id,
        data: data
      };

      // Konfigurace pro POST požadavek
      const requestOptions = {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json' // Změňte na 'application/x-www-form-urlencoded', pokud odesíláte FormData
        },
        body: JSON.stringify(requestData) // Změňte na new URLSearchParams(requestData) pro 'application/x-www-form-urlencoded'
      };

      // Odeslání požadavku pomocí funkce fetch
      fetch(apiUrl, requestOptions)
        .then(response => {
          if (!response.ok) {
            throw new Error('Chyba při komunikaci s API.');
          }
          return response.json();
        })
        .then(data => {
          console.log('Úspěšně zpracována odpověď z API:', data);
          // Zde můžete provést další zpracování dat z API
        })
        .catch(error => {
          console.error('Chyba:', error);
          // Zde můžete zpracovat chybu a poskytnout zpětnou vazbu uživateli
        });
      location.reload()
      return false;
    }
  }

  const tdElements2 = document.querySelectorAll(".data");

  //eventhandler na zmenu predmetu
  tdElements2.forEach((td) => {

    td.addEventListener('click', function(event) {
      changeTimetableData(event)

      return false;
    }, false);
  })
})
</script> -->